* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #41393c;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f6f2e0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  border-bottom: #b6a29c 3px solid;
}

.left {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.burger {
  display: none;
}

.line {
  width: 1.3em;
  height: 4px;
  background-color: black;
  border-radius: 2em;
  margin: 4px 1em;
}

.logo {
  margin: 0.6em 1em;
}

.right span {
  margin-right: 1em;
  font-weight: 600;
}

section {
  margin: 0.5em 1em;
  height: 45vh;
  width: auto;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-image: url(https://www.recommend.my/blog/wp-content/uploads/2019/07/1b2b6a5e-84da-4d42-a26e-60c68113d3f6_pasted20image200.jpg);
  background-size: cover;
  background-position: center;
}

section p {
  margin: 0em 2rem;
}

.top {
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 0.2em;
  font-weight: 600;
  text-shadow: #cb9917 2px 2px 1px;
}

.head {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-bottom: 0.5em;
  font-weight: 700;
  text-shadow: #cb9917 2px 2px 1px;
}

.context {
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-bottom: 0.5em;
}

.button {
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-bottom: 0em;
  font-weight: bold;
  padding: 0.5em 2em;
  border-radius: 2em;
  background-color: #41393c;
  color: white;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 20rem;
  border-top: 2px solid #b39f99;
  border-bottom: 2px solid #b39f99;
  font-size: 1.2em;
  font-weight: 700;
}

.container {
  margin: 0.8em 1em;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 25vh;
  border-radius: 1em;
  justify-self: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #b39f99;
  margin-top: 2vh;
}

.topfoot {
  font-size: clamp(0.7rem, 3vw, 1.5em);
  font-weight: 700;
  margin-top: 1vh;
}

.footline {
  font-size: clamp(0.6rem, 3vw, 1.2em);
  margin-top: 0.5vh;
}

.copy {
  font-size: clamp(0.7rem, 3vw, 1.5em);
  font-weight: 700;
  margin-top: 0.5em;
}

@media (max-width: 600px) {
  nav .right {
    display: none;
  }

  .burger {
    display: block;
  }

  section {
    height: 40vh;
  }

  .top {
    text-shadow: none;
  }
  .head {
    text-shadow: none;
  }

  .center {
    font-size: 1em;
    padding: 0.5em 4em;
  }

  .s3 {
    display: none;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .img {
    height: 15vh;
  }

  footer {
    align-items: start;
    padding-left: 2em;
  }
}
