*{
    margin: 0;
    padding: 0;
}

div{
    text-align: center;
    color: white;
    line-height: 100px;
}

.box1 {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100px;
    height: 100px;
    background-color: red;
    

}

.box2 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: blue;
    
    
}

.box3{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: yellow;
    
}

.box4{
    position: fixed;
    bottom: 0px;
    right:0;
    width: 100px;
    height: 100px;
    background-color: green;
    
}