* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


nav {
    display: flex;
    align-items: center;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 20px;
}

.Logo {
    margin-right: auto;
}

.menu {
    display: flex;
    gap: 1em;
    margin-right: auto; 
    margin-left: 2em;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.box {
    border: 3px solid blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: orange;
    height: 350px;
    flex: 1; 
}

footer {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}