*{
    margin: 0;
    padding: 0;
}

.container{

    position: relative;
    width: 500px;
    height: 250px;
    margin: 50px auto;
    background: #32B72B;
       
}

.banner{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #B9FFED;
    width: auto;
    border: 2px solid black ;
    text-align: center;
    font-size: 2.6rem;
    padding: 8px 20px;
    box-sizing: border-box;
    margin: 0 ;
    line-height: 1;
    font-weight: bolder;
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    top : 0px;
    right: 0px;
}

.text{
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: 2px solid white ;
    text-align: center;
    font-size: 1.7rem;
    padding: 1rem;
}

.left{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: -50px;
}

.bottom{
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: -40px;
    right: -80px;
}