* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    color: white;
    /* border-radius: 1rem;
    font-size: 1.2rem; */
    text-align: center;
}

nav {
    background: pink;
    position: sticky;
    top: 0px;   
    border: 1px solid black ;
}


.block {
    position: relative;
    top: 13em;
    left: 13em;
    width: 100px;
    height: 100px;
    background-color: blue;
    line-height: 100px;

}

.block2 {
    position: absolute;
    top: 4px;
    right: 4px;
    /* width: 50px; */
    /* z-index: -1; */
    background-color: green;
    line-height: 30px;
    
}
.action_button{
    position: sticky;
    top: 90vh;
    left: 80vw;
    background: yellowgreen;
    height: 3em;
    width: 3em;
    border-radius: 100%;
    text-align: center;
    font-weight: bolder;
    line-height: 3em;
    box-shadow: 2px 2px 2px black;
}