* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

}

.burger {
    display: none;
}

.line {
    width: 2em;
    height: 4px;
    background-color: black;
    border-radius: 2em;
    margin: 4px 1em;
}

.logo {
    margin: 0.5em 2em;
}

.right {
    font-size: 1.2rem;
    font-weight: 600;
}

.right span {
    margin-right: 1em;
}

section {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    margin: 2em 4em;
    border: 2px solid black;
    border-radius: 0.5em;
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
    padding: 2em;
}

.container {
    margin: 1em 2em;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 1em;


}

.card {
    border: 3px solid rgb(196, 161, 8);
    box-shadow: 2px 2px 3px rgba(196, 161, 8);
    max-width: 18em;
    border-radius: 1em;
    justify-self: center;
}

.card:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.card h1 {
    font-size: 1.2rem;
    padding: 0.5em;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(213, 156, 41);
}

.card img {
    width: 100%;
}

.card div {
    padding: 0.5em 1em;
}

footer {
    text-align: center;
    font-weight: 600;
    padding: 1em;
    background-color: #f1f1f1;
    margin-top: 2em;
}

.draw-menu {
   position: fixed;
   top: 0;
   right: 0;

    width: 40vw;
    background-color: black;
    color: white;

    display: none;
}

.draw-menu div {
    margin: 0.5em 1em;
    padding: 1em;
}

.draw-menu div:hover {
   color: gray;
}

.draw-menu a{
    color: blue;
    text-decoration: none;
}
/* pc */
@media (max-width: 600px) {
    nav .right {
        display: none;
    }

    .burger {
        display: block;

    }

    .draw-menu {
        display: none;
    }
 
    footer{
        text-align: left;
    }

}